<div class="registracia-org-page">
<form *ngIf="vytvorOrganizaciuBoolean" #f="ngForm" (ngSubmit)="pridajOrganizaciu(f)">
  <fieldset>
    <legend>Typ organizacie</legend>
    <div>
      <label class="radio">
        <input id="sro" name="typOrganizacie" type="radio" [(ngModel)]="typOrganizacie" value="sro" >
        <span for="sro">s.r.o.</span>
      </label>
      <label class="radio">
        <input id="as" name="typOrganizacie" type="radio" [(ngModel)]="typOrganizacie" value="as">
        <span for="as">a.s.</span>
      </label>
      <label class="radio">
        <input id="vos" name="typOrganizacie" type="radio" [(ngModel)]="typOrganizacie" value="vos">
        <span for="vos">v.o.s.</span>
      </label>
      <label class="radio">
        <input id="ks" name="typOrganizacie" type="radio" [(ngModel)]="typOrganizacie" value="ks">
        <span for="ks">k.s.</span>
      </label>
      <label class="radio">
        <input id="nc" name="typOrganizacie" type="radio" [(ngModel)]="typOrganizacie" value="iné">
        <span for="nc">Niečo iné</span>
      </label>
    </div>
  </fieldset>
<div class="udaje">
  <fieldset>
    <legend>Informacie o organizacii</legend>

    <input [(ngModel)]="nazovOrganizacie" name="nazovOrganizacie" type="text"  id="nazovOrganizacie" placeholder="Názov" required autofocus><br>
    <input ngModel type="text" id="icoOrganizacie" name="icoOrganizacie" placeholder="IČO"><br>
    <input ngModel type="text" id="sidloOrganizacie" name="sidloOrganizacie" placeholder="Sidlo"><br>
    <input ngModel type="text" name="webOrgnaizacie" id="webOrgnaizacie" placeholder="Webové sídlo">
  </fieldset>
  <button name="submit" type="submit" value="Pridaj organizaciu">Pridaj organizaciu</button>
  <button (click)="zrus()">Back</button>
  <div *ngIf="nazovOrganizacieBoolean">
    <p>Názov organizácie sa už používa, zvoľte iný</p>
  </div>
</div>
</form>


</div>




<div class="pridaj-uzivatelov-page">
<table *ngIf="pridajUzivatelovBoolean">
  <tr>
    <th colspan="3">Členovia organizácie</th>
  </tr>
  <tr>
    <th>Osoba</th>
    <th>Funkcia</th>
    <th>Akcia</th>
  </tr>
  <tr *ngFor="let person of clenoviaOrganizacieList">
    <td>{{person.name}}</td>
    <td>{{person.pozicia}}</td>
    <td>
      <button (click)="vymaz(person)">Vymaz</button>
    </td>
  </tr>
</table>

  <div *ngIf="pridajUzivatelovBoolean" class="vyhladaj-uzivatelov">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <form class="example" action="action_page.php">
    <input type="text" placeholder="Vyhľadať užívatela" name="údaj" [(ngModel)]="udaj">
    <button (click)="vyhladaj(udaj)"><i class="fa fa-search"></i></button>
    <div *ngIf="uzJeClen">
      <p>Zadaný užívateľ už je členom</p>
    </div>
    <div *ngIf="(neexistuje) && !(najdenyUzivatel) && !(uzJeClen)">
      <p>Zadaný užívateľ neexistuje</p>
    </div>
    <table *ngIf="najdenyUzivatel">
      <tr>
        <th colspan="3">Vyhladaný užívateľ</th>
      </tr>
      <tr>
        <th>Osoba</th>
        <th>Mail</th>
        <th>Akcie</th>
      </tr>
      <td>{{login}}</td>
      <td>{{email}}</td>
      <td>
        <button (click)="pridajUzivatela(najdenyUzivatelID,'owner')">Vlastník</button>
        <button (click)="pridajUzivatela(najdenyUzivatelID, 'member')">Člen</button>
      </td>
    </table>

  </form>
  </div>

<button *ngIf="pridajUzivatelovBoolean" (click)="potvrd()">Potvrď</button>
  <div *ngIf="neniOwner" class = 'neniOwner'>
    <p>V organizácií sa nenachádza žiadny majiteľ</p>
  </div>
</div>
