.home-page{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.acc-kontainer {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.home-page label {
  background-color: black;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.acc-kontainer .acc-body {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.acc-kontainer label {
  cursor: pointer;
  display: block;
  padding: 15px;
  box-sizing: border-box;
  z-index: 100;
}

.acc-kontainer input{
  display: none;
}

.acc-kontainer input:not(:checked)~.acc-body {
  height: auto;
  font-size: 16px;
  padding: 20px;
  transition: 0.5s;
  display: none;
}

.acc-kontainer table{
  width: 100%;
}

.acc-kontainer table td {
  text-align: center;
}

.acc-kontainer table button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}


.tabulka-udaje {
  font-family: "Roboto", sans-serif;
  padding: 8% 0 0;
  margin: auto;

}

.tabulka-udaje th {
  border-style: solid;
  text-align: left;
  background: #4CAF50;
}
.tabulka-udaje td {
  border-style: solid;
  text-align: center;
}
.tabulka-udaje th label {
  padding: 14px 16px;
}
.tabulka-udaje td label {
  padding: 14px 16px;
}

.home-org-page{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.home-str-page{
  width: 460px;
  padding: 8% 0 0;
  margin: auto;
}

.orgclenovia {
  font-family: "Roboto", sans-serif;
  padding: 8% 0 0;
  margin: auto;
}

.strClenovia {
  font-family: "Roboto", sans-serif;
  padding: 8% 0 0;
  margin: auto;
}


.členovia{
  width: 100%;
  border-style: solid;
}

.členovia td {
  text-align: center;
}
.členovia  td a:hover{
  color: #4CAF50;
  text-decoration-line: underline;
}

.členovia  th {
  border-bottom: solid black 1px;
}

.orgclenovia .buttony button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}

.orgclenovia .buttony button:hover{
  background: #43A047;
  color: black;
}


.orgclenovia button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}
.orgclenovia button:hover {
  background: #43A047;
  color: black;
}

.strClenovia button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}
.strClenovia button:hover {
  background: #43A047;
  color: black;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}

.uprav-uzivatelov-page {
  font-family: "Roboto", sans-serif;
  padding: 8% 0 0;
  margin: auto;

}


.uprav-uzivatelov-page{
  width: 460px;
  padding: 8% 0 0;
  margin: auto;
}

.uprav-uzivatelov-page table{
  width: 100%;
  border : solid black 1px;
}

.uprav-uzivatelov-page table td {
  text-align: center;
}

.uprav-uzivatelov-page table th {
  border-bottom: solid black 1px;
}

.uprav-uzivatelov-page table button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}

.uprav-uzivatelov-page button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}


form.example input[type=text] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

form.example button {
  width: 20%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #43A047;
  color: black;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

form p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: crimson;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}

.vyhladaj-uzivatelov {
  padding-top: 15px;
}

.neexistujeOwner p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: crimson;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}


.pozri-uzivatela-page {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
}

.pozri-uzivatela-page table {
  font-family: "Roboto", sans-serif;
  padding: 8% 0 0;
  margin: auto;

}

.pozri-uzivatela-page table th {
  border-style: solid;
  text-align: left;
  background: #4CAF50;
}
.pozri-uzivatela-page table td {
  border-style: solid;
  text-align: center;
}
.pozri-uzivatela-pagetable th label {
  padding: 14px 16px;
}
.pozri-uzivatela-page table td label {
  padding: 14px 16px;
}

.pozri-uzivatela-page button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}
.pozri-uzivatela-page button:hover,..pozri-uzivatela-page button:active,.pozri-uzivatela-page button:focus {
  background: #43A047;
  color: black;
}

.jedinyOwner p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: crimson;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-style: solid;
}


.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}


