<div *ngIf="homeBoolean" class="home-page">
  <div class="acc-kontainer">

    <input type="radio" name="acc" id="acc1" checked>
    <label for="acc1"> Organizácie</label>
    <div class="acc-body">
      <table>
        <tr *ngFor="let organizacia of org">
          <td>
            <button (click)="orgUdaje(organizacia)">{{organizacia}}</button>
          </td>
        </tr>
      </table>

    </div>
    <div>
      <input type="radio" name="acc" id="acc2">
      <label for="acc2"> Stretnutia</label>
      <div class="acc-body">
        <table>
          <tr *ngFor="let stretnutie of str">
            <td>
              <button (click)="strUdaje(stretnutie.uid)" >{{stretnutie.nazov}}</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="organizaciaBooelean" class="home-org-page">
  <table class="tabulka-udaje">
    <tr>
      <th><label for="nazovOrganizacie" id="nazovOrganizacie" class="bold">Názov organizácie :</label></th>
      <td><label for="nazovOrganizacie">{{organizaciaUdaje.nazovOrganizacie}}  </label></td>
    </tr>
    <tr>
      <th><label for="icoOrganizacie" id="icoOrganizacie"class="bold">Ičo organizácie :</label></th>
      <td><label for="icoOrganizacie">{{organizaciaUdaje.icoOrganizacie}}  </label></td>
    </tr>
    <tr>
      <th><label for="sídloOrganizacie" id="sídloOrganizacie" class="bold">Sídlo organizácie :</label></th>
      <td><label for="sídloOrganizacie">{{organizaciaUdaje.sidloOrganizacie}}   </label></td>
    </tr>
    <tr>
      <th><label for="webOrganizacie" id="webOrganizacie" class="bold">Web organizácie :</label></th>
      <td><label for="webOrganizacie">{{organizaciaUdaje.webOrgnaizacie}}   </label></td>
    </tr>
    <tr>
      <th><label for="typOrganizacie" id="typOrganizacie" class="bold">Typ organizacie :</label></th>
      <td><label for="typOrganizacie">{{organizaciaUdaje.typOrganizacie}}   </label></td>
    </tr>
  </table>

  <div class="orgclenovia" >
    <div class = "table-wrapper-scroll-y my-custom-scrollbar">
      <table class="členovia">
        <tr>
          <th colspan="3">Členovia organizácie</th>
        </tr>
        <tr>
          <th>Osoba</th>
          <th>E-mail</th>
          <th>Funkcia</th>
        </tr>
        <tr *ngFor="let person of allPeople">
          <td (click)="profil(person)" ><a>{{person.name}}</a></td>
          <td (click)="profil(person)"> <a>{{person.mail}}</a></td>
          <td>{{person.pozicia}}</td>

        </tr>
      </table>
    </div>
    <button *ngIf="isOwner" (click)="uprav()">Uprav</button>
    <div class="buttony">
      <button (click) = "stretnutia()">Stretnutia</button>
      <button (click)="spat()">Späť</button>
    </div>
  </div>
  <button *ngIf="!(siJedinyOwner)" (click)="opusti()">Opustiť organizáciu</button>
  <div *ngIf="siJedinyOwner" class = 'jedinyOwner'>
    <p>Ak opustíš organizáciu, organizácia sa zruší, pretože si jediný owner</p>
    <p>Naozaj chcete odísť?</p>
    <button (click)="ano()">Áno</button>
    <button (click)="nie()">Nie</button>
  </div>
</div>

<div *ngIf="pozriUzivatela" class="pozri-uzivatela-page">
  <table>
    <tr>
      <th><label for="name" id="name" class="bold">Login:</label></th>
      <td> <label for="name">{{udajeOsoba.name}}</label></td>
    </tr>
    <tr>
      <th><label for="mail" id="mail" class="bold">E-mail:</label></th>
      <td><label for="mail">{{udajeOsoba.mail}}  </label></td>
    </tr>
    <tr>
      <th><label for="pozicia" id="pozicia" class="bold">Pozícia :</label></th>
      <td><label for="pozicia">{{udajeOsoba.pozicia}}</label></td>
    </tr>
    <tr>
      <th><label for="meno" id="meno" class="bold">Meno:</label></th>
      <td><label for="meno">{{udajeOsoba.meno}}  </label></td>
    </tr>
    <tr>
      <th><label for="priezvisko" id="priezvisko" class="bold">Priezvisko :</label></th>
      <td><label for="priezvisko">{{udajeOsoba.priezvisko}} </label></td>
    </tr>
    <tr>
      <th><label for="tel" id="tel" class="bold">Telefon :</label></th>
      <td><label for="tel">{{udajeOsoba.tel}}</label></td>
    </tr>
    <tr>
      <th><label for="adresa" id="adresa" class="bold">Adresa :</label></th>
      <td><label for="adresa">{{udajeOsoba.adresa}}</label></td>
    </tr>
  </table>
  <button (click)="vratSa()">Back</button>
</div>
<div class="uprav-uzivatelov-page">
  <table *ngIf="upravUzivatelovBoolean">
    <tr>
      <th colspan="3">Členovia organizácie</th>
    </tr>
    <tr>
      <th>Osoba</th>
      <th>Funkcia</th>
      <th>Akcia</th>
    </tr>
    <tr *ngFor="let person of allPeople">
      <td>{{person.name}}</td>
      <td>{{person.pozicia}}</td>
      <td>
        <button (click)="odstran(person)">Vymaz</button>
      </td>
    </tr>
  </table>

  <div *ngIf="upravUzivatelovBoolean" class="vyhladaj-uzivatelov">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Vyhľadať užívatela" name="údaj" [(ngModel)]="udaj">
      <button (click)="vyhladaj(udaj)"><i class="fa fa-search"></i></button>
      <div *ngIf="uzJeClen">
        <p>Zadaný užívateľ už je členom</p>
      </div>
      <div *ngIf="(neexistuje) && !(najdenyUzivatel) && !(uzJeClen)">
        <p>Zadaný užívateľ neexistuje</p>
      </div>
      <table *ngIf="najdenyUzivatel">
        <tr>
          <th colspan="3">Vyhladaný užívateľ</th>
        </tr>
        <tr>
          <th>Osoba</th>
          <th>Mail</th>
          <th>Akcie</th>
        </tr>
        <td>{{login}}</td>
        <td>{{email}}</td>
        <td>
          <button (click)="pridajUzivatela(najdenyUzivatelID,'owner')">Vlastník</button>
          <button (click)="pridajUzivatela(najdenyUzivatelID, 'member')">Člen</button>
        </td>
      </table>

    </form>
  </div>

  <button *ngIf="upravUzivatelovBoolean" (click)="potvrd()">Potvrď</button>
  <div *ngIf="neexistujeOwner" class = 'neexistujeOwner'>
    <p>V organizácií sa nenachádza žiadny majiteľ</p>
  </div>
</div>

<div *ngIf="stretnutieBoolean" class="home-str-page">
  <table class="tabulka-udaje">
    <tr>
      <th> <label for="nazovStretnutia" id="nazovStretnutia" class="bold">Názov stretnutia :</label></th>
      <td>  <label for="nazovStretnutia">{{udajeStr.nazovStretnutia}}  </label></td>
    </tr>
    <tr>
      <th> <label for="miestoStretnutia" id="miestoStretnutia"class="bold">Miesto stretnutia :</label></th>
      <td> <label for="miestoStretnutia">{{udajeStr.miestoStretnutia}}  </label></td>
    </tr>
    <tr>
      <th><label for="popisStretnutia" id="popisStretnutia" class="bold">Popis stretnutia :</label></th>
      <td class = "popis"><label for="popisStretnutia">{{udajeStr.popisStretnutia}}   </label></td>
    </tr>
    <tr>
      <th> <label for="casStretnutia" id="casStretnutia" class="bold">Cas stretnutia :</label></th>
      <td> <label for="casStretnutia">{{udajeStr.casHlasovania}}</label></td>
    </tr>
  </table>

  <div class="strClenovia" >
    <div class = "table-wrapper-scroll-y my-custom-scrollbar">
      <table class="členovia">
        <tr>
          <th colspan="4">Pozvaný členovia</th>
        </tr>
        <tr>
          <th>Potvrdená účasť</th>
          <th>Osoba</th>
          <th>E-mail</th>
          <th>Funkcia</th>
        </tr>
        <tr *ngFor="let person of clenoviaStretnutia">
          <td><input type="checkbox" [checked]="person.check == 'true'" disabled></td>

          <td (click)="profil(person)" ><a>{{person.name}}</a></td>
          <td (click)="profil(person)"> <a>{{person.mail}}</a></td>
          <td>{{person.pozicia}}</td>
        </tr>
      </table>
    </div>

    <div *ngIf="!(jePoStretnutiBoolean)">
      <button *ngIf="potvrdenaUcast === 'false'" (click)="potvrditUcast(udajeStr.uid)" >Potvrďiť účasť </button>
    </div>
    <button (click)="back3()">Späť</button>
  </div>
  <button *ngIf="jePoStretnutiBoolean" (click)="vymazStr(udajeStr.uid)">X</button>
</div>
